{{!-- Head section --}}
<nav class="Head" aria-label="breadcrumb">
  <ol class="Breadcrumb">
    <li class="Breadcrumb__item"><a href="/v1">Home</a></li>
    <li class="Breadcrumb__item"><a href="/v1/categories{{routeI 'crud.get_many'}}">Categories</a></li>
    <li class="Breadcrumb__item"><a href="/v1/categories{{routeI 'crud.get_one' data._id}}">{{data.name}}</a></li>
    <li class="Breadcrumb__item" aria-current="page">Edit</li>
  </ol>
  <h1 class="Heading">Category editing</h1>
</nav>
{{!-- End of Head section --}}

{{!-- Product editing --}}
<section class="Row">
  <div class="Col lg-12 sm-12">
    {{!-- <h2 class="Heading">{{data.name}}</h2> --}}
    <div class="Box Box-scrollable">
      <form class="Form" action="/categories{{routeI 'crud.update_one' data._id}}?_method=PUT" method="post">
        <div class="Form__header">
          <p class="Form__header-title">{{data.name}}</p>
          {{!-- <p class="Form__header-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. A eos quia commodi.</p> --}}
        </div>
        <div class="Form__body">
          <div class="Field-group">
            <div class="Field" data-col="df-4" aria-invalid="">
              <label for="id" class="Field__label">Id</label>
              <input type="text" class="Field__input" name="id" id="id" value="{{data._id}}" readonly>
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-4" aria-invalid="">
              <label for="createdAt" class="Field__label">Created at</label>
              <input type="text" class="Field__input" name="createdAt" id="createdAt" value="{{dateFormat data.createdAt}}" readonly>
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-4" aria-invalid="">
              <label for="updatedAt" class="Field__label">Updated at</label>
              <input type="text" class="Field__input" name="updatedAt" id="updatedAt" value="{{dateFormat data.updatedAt}}" readonly>
              <span class="Field__response"></span>
            </div>
          </div>
          <div class="Field-group">
            <div class="Field" data-col="df-6" aria-invalid="">
              <label for="name" class="Field__label">Name</label>
              <input type="text" class="Field__input" name="name" id="name" value="{{data.name}}">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6" aria-invalid="">
              <label for="slug" class="Field__label">Slug</label>
              <input type="text" class="Field__input" name="slug" id="slug" value="{{data.slug}}" readonly>
              <span class="Field__response"></span>
            </div>
          </div>
          <div class="Field" data-col="" aria-invalid="">
            <label for="desc" class="Field__label">Description</label>
            <textarea class="Field__input" id="desc" name="desc" rows="5">{{data.desc}}</textarea>
            <span class="Field__response"></span>
          </div>
          <div class="Field" data-col="" aria-invalid="">
            <label for="img" class="Field__label">Image</label>
            <input type="text" class="Field__input" name="img" id="img" value="{{data.img}}">
            <span class="Field__response"></span>
          </div>
        </div>
        <div class="Form__footer">
          <div class="Field-actions" data-align="end">
            <button type="button" class="Btn" data-variant="grey" onclick="history.back()">Cancel</button>
            <button type="reset" class="Btn" data-variant="dark">Reset</button>
            <button type="submit" class="Btn" data-variant="success">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{{!-- End of Product editing --}}
