
<h1 class="">List of available Courses</h1>

<aside class="row mb-3">
  <nav class="col-12 d-flex">
    <ul class="nav me-auto">
      <li class="nav-item">
        <a class="btn btn-outline-success btn-sm" aria-current="page" href="/courses{{routeI 'create'}}">Create new Course <strong>+</strong></a>
      </li>
    </ul>
    <div class="view-switcher" role="toolbar">
      <div class="btn-group" role="group">
        <button type="button" value="grid" class="btn btn-outline-secondary btn-sm">Grid</button>
        <button type="button" value="list" class="btn btn-outline-secondary btn-sm">List</button>
      </div>
    </div>
  </nav>
</aside>

<section class="view-area row mb-3">
  {{#each data}}
    <article class="col-sm-4 col-lg-3 mb-4">
      <div class="card course-item" style="width: 100%;">
        <a href="/courses{{routeI 'show' this._id}}">
          <img src="/img/courses/{{this.img}}" class="card-img-top" alt="{{this.name}}">
        </a>
        <div class="card-body">
          <a href="/courses{{routeI 'show' this._id}}">
            <h5 class="card-title course-item__title">{{this.name}}</h5>
            <span></span>
          </a>
          <p class="card-text">{{this.desc}}</p>
          <div class="d-flex justify-content-end gap-2">
            <a href="/courses{{routeI 'edit' this._id}}" class="btn btn-outline-primary btn-sm">
              Edit
            </a>
            <button class="btn btn-outline-danger btn-sm delete-course" data-toggle="dialog" data-dialog-target="#delete-dialog" data-form-id="{{this._id}}">
              Delete
            </button>
          </div>
        </div>
      </div>
    </article>
  {{/each}}
</section>

<!-- Modal Delete -->
<dialog id="delete-dialog" class="dialog">
  <form class="dialog__form" method="POST">
    <div class="dialog__header">Confirmation</div>
    <div class="dialog__body">
      You really want to perform this action?
    </div>
    <div class="dialog__footer">
      <input type="hidden" name="ids[]" value="">
      <button type="submit" class="btn btn-danger">Yes, delete it!</button>
      <button type="submit" class="btn btn-secondary" formmethod="dialog">Cancel</button>
    </div>
  </form>
</dialog>

<script src="/js/pages/courses/index.js"></script>