<div class="mt-4">
  <nav class="row mt-3">
    <div class="col-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="btn btn-outline-secondary" aria-current="page" href="/courses{{routeI 'create'}}">Create new Course</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> --}}
      </ul>
    </div>
  </nav>
  <main class="row mt-3">
    {{#each data}}
      <div class="col-sm-6 col-lg-4 mb-4">
        <article class="card course-item" style="width: 100%;">
          <a href="/courses{{routeI 'show' this._id}}">
            <img src="/img/courses/{{this.img}}" class="card-img-top" alt="{{this.name}}">
          </a>
          <div class="card-body">
            <a href="/courses{{routeI 'show' this._id}}">
              <h5 class="card-title course-item__title">{{this.name}}</h5>
              <span></span>
            </a>
            <p class="card-text">{{this.desc}}</p>
            <div class="d-flex justify-content-end gap-2">
              <a href="/courses{{routeI 'edit' this._id}}" class="btn btn-outline-primary btn-sm">
                Edit
              </a>
              <button class="btn btn-outline-danger btn-sm delete-course" data-toggle="dialog" data-dialog-target="#delete-dialog" data-form-id="{{this._id}}">
                Delete
              </button>
            </div>
          </div>
        </article>
      </div>
    {{/each}}
  </main>
</div>

<!-- Modal Delete -->
<dialog id="delete-dialog" class="dialog">
  <form class="dialog__form" method="POST">
    <div class="dialog__header">Confirmation</div>
    <div class="dialog__body">
      You really want to perform this action?
    </div>
    <div class="dialog__footer">
      <button type="submit" class="btn btn-danger">Yes, delete it!</button>
      <button type="submit" class="btn btn-secondary" formmethod="dialog">Cancel</button>
    </div>
  </form>
</dialog>

<script>
  const dialogBtns = document.querySelectorAll('button.delete-course')
  Array.from(dialogBtns).map(btn => btn.onclick = e => {
    const target = e.target.dataset.dialogTarget,
          dialog = document.querySelector(target)
    if (!dialog) {
      return
    }
    const item = e.target.closest('.course-item'),
          _id = e.target.dataset.formId,
          title = item.querySelector('.course-item__title').innerText,
          quote = /*html*/`You really want to delete <strong>${title}</strong> course?`
    dialog.querySelector('.dialog__body').innerHTML = quote
    const form = dialog.querySelector('.dialog__form')
    form.action = `/courses/i/${_id}?_method=DELETE`
  })
</script>