<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark ia-navbar" data-current-page="" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Instances API</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ia-navbar__ul">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu menu-categories" data-categories="">
              <li><a class="dropdown-item {{#equals page.title 'courses'}}active{{/equals}}" href="/courses{{routeI 'index'}}">Courses</a></li>
              <li><a class="dropdown-item {{#equals page.title 'musics'}}active{{/equals}}" href="/musics{{routeI 'index'}}">Musics</a></li>
              {{!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link ia-navbar__link {{#equals 1 1}}active{{/equals}}" aria-current="page" href="/{{page.title}}{{routeI 'index'}}">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ia-navbar__link" aria-current="page" href="/{{page.title}}{{routeI 'deleteds'}}">Deleted</a>
          </li>
          <li class="nav-item">
            <form action="/courses/i/test?_method=DELETE" method="post">
              <button class="nav-link ia-navbar__link" type="submit">Test</button>
            </form>
          </li>
          {{!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> --}}
          {{!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> --}}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>