{{!-- <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark ia-navbar" data-current-page="" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">APInst</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ia-navbar__ul">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu menu-categories" data-categories="">
            <li><a class="dropdown-item {{#equals page.title 'courses'}}active{{/equals}}" href="/courses{{routeI 'index'}}">Courses</a></li>
            <li><a class="dropdown-item {{#equals page.title 'musics'}}active{{/equals}}" href="/musics{{routeI 'index'}}">Musics</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link ia-navbar__link {{#equals 1 1}}active{{/equals}}" aria-current="page" href="/{{page.title}}{{routeI 'index'}}">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ia-navbar__link" aria-current="page" href="/{{page.title}}{{routeI 'deleteds'}}">Deleted</a>
        </li>
        <li class="nav-item">
          <form action="/courses/i/test?_method=DELETE" method="post">
            <button class="nav-link ia-navbar__link" type="submit">Test</button>
          </form>
        </li>
      </ul>
    </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> --}}
<div class="Header">
  <nav class="Navbar">
    <h1 class="Title Navbar__brand">Dashboard</h1>
    <div class="Navbar__right">
      <button class="Navbar__menu Btn-lg Btn-unstyled">
        <i class="fa-regular fa-grid-2"></i>
      </button>
      <div class="Navbar__theme Btn__group-toggle">
        <button class="Btn-sm Btn-unstyled Btn-spacing-0 active">
          <i class="fa-regular fa-sun"></i>
        </button>
        <button class="Btn-sm Btn-unstyled Btn-spacing-0">
          <i class="fa-regular fa-moon"></i>
        </button>
      </div>
      <div class="Navbar__profile">
        <div class="Navbar__profile-info">
          <b>Btoann</b>
          <p class="Text-h3">Admin</p>
        </div>
        <div class="Navbar__profile-avt">
          <picture>
            <source srcset="/assets/avatar-placeholders/webp/profile-8.webp" type="image/webp">
            <img src="/assets/avatar-placeholders/profile-8.jpg" alt="Profile 8">
          </picture>
        </div>
      </div>
    </div>
    {{!-- <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> --}}
  </nav>
</div>