<div class="mt-4">
  <nav class="row mt-3">
    <div class="col-md-3 d-none d-md-block">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/courses/i">Back to Courses</a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="row mt-3">
    {{#each data}}
      <div class="col-sm-6 col-lg-4 mb-4">
        <article class="card course-item" style="width: 100%;">
          <a href="/courses{{routeI 'deleted' this._id}}">
            <img src="/img/courses/{{this.img}}" class="card-img-top" alt="{{this.name}}">
          </a>
          <div class="card-body">
            <a href="/courses{{routeI 'deleted' this._id}}">
              <h5 class="card-title course-item__name">{{this.name}}</h5>
              <span></span>
            </a>
            <p class="card-text">{{this.desc}}</p>
            <div class="d-flex justify-content-end gap-2 action-buttons">
              <button class="btn btn-outline-primary btn-sm restore-course" data-toggle="dialog" data-action="restore" data-dialog-target="#actions-dialog" data-form-id="{{this._id}}">
                Restore
              </button>
              <button class="btn btn-outline-danger btn-sm destroy-course" data-toggle="dialog" data-action="destroy" data-dialog-target="#actions-dialog" data-form-id="{{this._id}}">
                Destroy
              </button>
            </div>
          </div>
        </article>
      </div>
    {{/each}}
  </main>
</div>

<!-- Modal Actions -->
<dialog id="actions-dialog" class="dialog">
  <form class="dialog__form" method="POST">
    <a href="/courses/i/deleted/" id="dialog-action" hidden></a>
    <div class="dialog__header">Confirmation</div>
    <div class="dialog__body">
      You really want to perform this action?
    </div>
    <div class="dialog__footer">
      <button type="submit" class="btn btn-danger dialog__confirm-button"></button>
      <button type="submit" class="btn btn-secondary" formmethod="dialog">Cancel</button>
    </div>
  </form>
</dialog>

<script>
  const dialogBtns = document.querySelectorAll('.action-buttons > button[data-action]')
  Array.from(dialogBtns).map(btn => btn.onclick = e => {
    const target = e.target.dataset.dialogTarget,
          action = e.target.dataset.action,
          dialog = document.querySelector(target)
    if (!dialog) return
    const item = e.target.closest('.course-item'),
          _id = e.target.dataset.formId,
          name = item.querySelector('.course-item__name').innerText,
          confirmBtn = dialog.querySelector('button.dialog__confirm-button')
          url = new URL(_id, dialog.querySelector('#dialog-action').href)
    let quote = ''
    switch (action) {
      case 'restore':
        url.searchParams.set('_method', 'PATCH')
        quote = /*html*/`Are you sure to restore <strong>${name}</strong> course?<br>
          There must've been a problem that caused it to be deleted.`
        confirmBtn.classList.replace('btn-danger', 'btn-success')
        confirmBtn.innerText = 'Yes, restore this course'
        break;
      case 'destroy':
        url.searchParams.set('_method', 'DELETE')
        quote = /*html*/`You really want to <i>permanently</i> delete <strong>${name}</strong> course?<br>
          You won't be able to restore this course anymore.`
        confirmBtn.classList.replace('btn-success', 'btn-danger')
        confirmBtn.innerText = 'Permanently delete it!'
        break;
    }
    dialog.querySelector('.dialog__body').innerHTML = quote
    const form = dialog.querySelector('.dialog__form')
    form.action = url
  })
</script>