{{#section 'title'}}Dashboard{{/section}}
{{#section 'current'}}dashboard{{/section}}


{{!-- Head section --}}
<nav class="Head" aria-label="breadcrumb">
  <ol class="Breadcrumb">
    {{!-- <li class="Breadcrumb__item"><a href="#">Dashboard</a></li> --}}
    <li class="Breadcrumb__item" aria-current="page">Home</li>
  </ol>
  <h1 class="Heading">Dashboard</h1>
</nav>
{{!-- End of Head section --}}

{{!-- Analysis --}}
<section class="Row">
  <h2 class="Heading">Analysis</h2>
  <div class="Col lg-3 md-4">
    <div class="Analyze">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Total Sales</h3>
        <b class="Analyze__info-content">$65,432</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-success">
          <circle cx="40" cy="40" r="32"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+81%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3 md-4">
    <div class="Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Products sold</h3>
        <b class="Analyze__info-content">1,594</b>
      </div>
      <div class="Analyze__progress" title="Products sold">
        <svg class="Analyze__progress-tertiary">
          <circle cx="40" cy="40" r="32"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+62%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3 md-4">
    <div class="Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Site visits</h3>
        <b class="Analyze__info-content">24,432</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-primary">
          <circle cx="40" cy="40" r="32"></circle>
        </svg>
        <b class="Analyze__progress-percentage">-48%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3 md-4">
    <div class="Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Searches</h3>
        <b class="Analyze__info-content">12,845</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-info">
          <circle cx="40" cy="40" r="32"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+27%</b>
      </div>
    </div>
  </div>

</section>
{{!-- End of Analysis --}}


{{!-- Recent added --}}
<section class="Row">
  <h2 class="Heading">Recent added</h2>
  <div class="Col lg-12">
    <div class="ItemsList">
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-1.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-1.jpg" alt="Profile 1">
        </picture>
        <b class="Item__title">Product 1</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-2.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-2.jpg" alt="Profile 2">
        </picture>
        <b class="Item__title">Product 2</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-3.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-3.jpg" alt="Profile 3">
        </picture>
        <b class="Item__title">Product 3</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-4.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-4.jpg" alt="Profile 4">
        </picture>
        <b class="Item__title">Product 4</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-5.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-5.jpg" alt="Profile 5">
        </picture>
        <b class="Item__title">Product 5</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-6.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-6.jpg" alt="Profile 6">
        </picture>
        <b class="Item__title">Product 6</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-7.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-7.jpg" alt="Profile 7">
        </picture>
        <b class="Item__title">Product 7</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
    </div>
  </div>
</section>
{{!-- End of Recent added --}}

{{!-- Recent Orders --}}
<section class="Row">
  <div class="Col lg-6 sm-12">
    <h2 class="Heading">Recent Orders</h2>
    <div class="Box Box-scrollable">
      <table class="Table Table-sm Table-hover Table-center Table__caption-reversed">
        {{!-- <caption>List</caption> --}}
        <thead>
          <tr>
            {{!-- <th>#</th> --}}
            <th>Number</th>
            <th>Amount ($)</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Checked out at</th>
            {{!-- <th></th> --}}
          </tr>
        </thead>
        <tbody>
          {{#each data.orders}}
            <tr class="Item">
              <td class="">{{this.code}}</td>
              <td class="">{{this.amount}}</td>
              <td class="">{{this.payment}}</td>
              <td class="">
                <span class="Text-status Text-{{stylingStatus this.status}}">
                  {{this.status}}
                </span>
              </td>
              <td class="Item__time">
                {{dateFormat this.createdAt 'datetime'}}
              </td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <th colspan="8">
          </th>
        </tfoot>
        <div id="desc-popover" popover>
        </div>
      </table>
      <a href="#" class="Btn Btn-viewmore">Viewmore</a>
    </div>
  </div>

  <div class="Col lg-6 sm-12">
    <h2 class="Heading">Form</h2>
    <div class="Box Box-scrollable">
      <form class="Form" action="" method="" id="instance-form">
        <div class="Form__header">
          <p class="Form__header-title">Form Validation</p>
          <p class="Form__header-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. A eos quia commodi.</p>
        </div>
        <div class="Form__body">
          <div class="Field" aria-invalid="">
            <label for="username" class="Field__label">Username</label>
            <input type="text" class="Field__input" name="username" id="username">
            <span class="Field__response"></span>
          </div>
          <div class="Field">
            <label for="password" class="Field__label">Password</label>
            <input type="password" class="Field__input" name="password" id="password">
            <span class="Field__response"></span>
          </div>
          <div class="Field">
            <label for="password-confirm" class="Field__label">Confirm Password</label>
            <input type="password" class="Field__input" name="password-confirm" id="password-confirm">
            <span class="Field__response"></span>
          </div>
          <div class="Field">
            <label for="tel" class="Field__label">Phone Number</label>
            <input type="number" class="Field__input" name="tel" id="tel">
            <span class="Field__response"></span>
          </div>
          <div class="Field">
            <label for="gender" class="Field__label">Gender</label>
            <div class="Field-options" data-direction="row">
              <div class="Field__option">
                <input type="radio" class="Check" data-variant="primary" name="gender" value="male" id="gender-male">
                <label for="gender-male">Male</label>
              </div>
              <div class="Field__option">
                <input type="radio" class="Check" data-variant="secondary" name="gender" value="female" id="gender-female">
                <label for="gender-female">Female</label>
              </div>
              <div class="Field__option">
                <input type="radio" class="Check" name="gender" value="other" id="gender-other">
                <label for="gender-other">Others</label>
              </div>
            </div>
            <span class="Field__response"></span>
          </div>
          <div class="Field">
            <label for="country" class="Field__label">Country</label>
            <select class="Field__input" id="country" name="country">
              <option value="" disabled selected>-- Choose your country --</option>
              <option value="fr" disabled>Franch</option>
              <option value="jp">Japan</option>
              <option value="kr">Korea</option>
              <option value="sg">Singapore</option>
              <option value="us" disabled>United States</option>
              <option value="vn">Vietnam</option>
            </select>
            <span class="Field__response"></span>
          </div>
          <div class="Field">
            <label for="hobbies" class="Field__label">Hobbies</label>
            <div class="Field-options" data-direction="row">
              <div class="Field__option">
                <input type="checkbox" class="Check" name="hobbies" value="game" id="hobbies-game">
                <label for="hobbies-game">Game</label>
              </div>
              <div class="Field__option">
                <input type="checkbox" class="Check" data-variant="danger" name="hobbies" value="music" id="hobbies-music">
                <label for="hobbies-music">Music</label>
              </div>
              <div class="Field__option">
                <input type="checkbox" class="Check" data-variant="success" name="hobbies" value="sleep" id="hobbies-sleep">
                <label for="hobbies-sleep">Sleep</label>
              </div>
              <div class="Field__option">
                <input type="checkbox" class="Check" data-variant="primary" name="hobbies" value="eat" id="hobbies-eat">
                <label for="hobbies-eat">Eat</label>
              </div>
            </div>
            <span class="Field__response"></span>
          </div>
          <fieldset class="Fieldset">
            <legend>Your day of birth</legend>
            <div class="Field" data-col="df-4">
              <label for="dobDay" class="Field__label">Day</label>
              <select class="Field__input" id="dobDay" name="dobDay">
                <option value="" disabled selected>DD</option>
              </select>
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-4">
              <label for="dobMonth" class="Field__label">Month</label>
              <select class="Field__input" id="dobMonth" name="dobMonth">
                <option value="" disabled selected>MM</option>
              </select>
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-4">
              <label for="dobYear" class="Field__label">Year</label>
              <input type="text" class="Field__input" id="dobYear" name="dobYear" placeholder="YYYY">
              <span class="Field__response"></span>
            </div>
          </fieldset>
          <div class="Field-group">
            <div class="Field" data-col="df-4" aria-invalid="">
              <label for="input-readonly" class="Field__label">Input readonly</label>
              <input type="text" class="Field__input" name="input-readonly" id="input-readonly" value="Readonly" readonly>
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-4" aria-invalid="">
              <label for="input-disabled" class="Field__label">Input disabled</label>
              <input type="text" class="Field__input" name="input-disabled" id="input-disabled" value="Disabled" disabled>
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-4" aria-invalid="">
              <label for="input-disabled-readonly" class="Field__label">Input disabled readonly</label>
              <input type="text" class="Field__input" name="input-disabled-readonly" id="input-disabled-readonly" value="Disabled Readonly" disabled readonly>
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6" aria-invalid="">
              <label for="input-variant-readonly" class="Field__label">Input variant readonly</label>
              <input type="text" class="Field__input" data-variant="primary" name="input-variant-readonly" id="input-variant-readonly" value="Readonly" readonly>
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6" aria-invalid="">
              <label for="input-variant-disabled" class="Field__label">Input variant disabled</label>
              <input type="text" class="Field__input" data-variant="secondary" name="input-variant-disabled" id="input-variant-disabled" value="Disabled" disabled>
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-6 sm-4" aria-invalid="false">
              <label for="input1" class="Field__label">Input valid</label>
              <input type="text" class="Field__input" name="input1" id="input1">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-6 sm-4" aria-invalid="true">
              <label for="input2" class="Field__label">Input invalid</label>
              <input type="text" class="Field__input" name="input2" id="input2">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-1 sm-4" aria-invalid="">
              <label for="input3" class="Field__label">Input</label>
              <input type="text" class="Field__input" name="input3" id="input3">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-11 sm-4" aria-invalid="">
              <label for="input4" class="Field__label">Input</label>
              <input type="text" class="Field__input" name="input4" id="input4">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-2 sm-4" aria-invalid="">
              <label for="input5" class="Field__label">Input</label>
              <input type="text" class="Field__input" name="input5" id="input5">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-10 sm-4" aria-invalid="">
              <label for="input6" class="Field__label">Input</label>
              <input type="text" class="Field__input" name="input6" id="input6">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-3 sm-4" aria-invalid="">
              <label for="input7" class="Field__label">Input</label>
              <input type="text" class="Field__input" name="input7" id="input7">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-3 sm-4" aria-invalid="">
              <label for="input8" class="Field__label">Input</label>
              <input type="text" class="Field__input" data-variant="success" name="input8" id="input8">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-3 sm-4" aria-invalid="">
              <label for="input9" class="Field__label">Input</label>
              <input type="text" class="Field__input" data-variant="secondary" name="input9" id="input9">
              <span class="Field__response"></span>
            </div>
            <div class="Field" data-col="df-6 lg-3 sm-4" aria-invalid="">
              <label for="input10" class="Field__label">Input</label>
              <input type="text" class="Field__input" data-variant="primary" name="input10" id="input10">
              <span class="Field__response"></span>
            </div>
          </div>
        </div>
        <div class="Form__footer">
          <div class="Field">
            <div class="Field-options" data-direction="row">
              <div class="Field__option" data-align="center">
                <label class="Switch" for="accept-term" data-size="sm" data-variant="">
                  <input type="checkbox" id="accept-term" name="accept-term">
                </label>
                <label for="accept-term">I have read and agree to APInst's terms of contract.</label>
              </div>
            </div>
            <span class="Field__response"></span>
          </div>
          <div class="Field" aria-invalid="">
            <button type="submit" class="Btn" name="submit" id="submit">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<script src="/js/pages/dashboard/index.js" type="module"></script>