
<h1 class="Title">Dashboard</h1>

{{!-- Analysis --}}
<section class="Row">
  <h2 class="Heading">Analysis</h2>
  <div class="Col lg-3">
    <div class="Analyze">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Total Sales</h3>
        <b class="Analyze__info-content">$65,432</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-success">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+81%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3">
    <div class="Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Products sold</h3>
        <b class="Analyze__info-content">1,594</b>
      </div>
      <div class="Analyze__progress" title="Products sold">
        <svg class="Analyze__progress-tertiary">
          <circle cx="48" cy="48" r="38"></circle>7
        </svg>
        <b class="Analyze__progress-percentage">+62%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3">
    <div class="Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Site visits</h3>
        <b class="Analyze__info-content">24,432</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-primary">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">-48%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3">
    <div class="Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Searches</h3>
        <b class="Analyze__info-content">12,845</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-info">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+27%</b>
      </div>
    </div>
  </div>

</section>
{{!-- End of Analysis --}}


{{!-- Recent added --}}
<section class="Row M-t-3">
  <h2 class="Heading">Recent added</h2>
  <div class="Col lg-12">
    <div class="ItemsList">
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-1.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-1.jpg" alt="Profile 1">
        </picture>
        <b class="Item__title">Product 1</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-2.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-2.jpg" alt="Profile 2">
        </picture>
        <b class="Item__title">Product 2</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-3.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-3.jpg" alt="Profile 3">
        </picture>
        <b class="Item__title">Product 3</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-4.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-4.jpg" alt="Profile 4">
        </picture>
        <b class="Item__title">Product 4</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-5.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-5.jpg" alt="Profile 5">
        </picture>
        <b class="Item__title">Product 5</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-6.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-6.jpg" alt="Profile 6">
        </picture>
        <b class="Item__title">Product 6</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-7.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-7.jpg" alt="Profile 7">
        </picture>
        <b class="Item__title">Product 7</b>
        <p class="Item__desc">54 mins ago</p>
      </div>
    </div>
  </div>
</section>
{{!-- End of Recent added --}}

{{!-- Recent Orders --}}
<section class="Row M-t-3">
  <div class="Col lg-6 sm-12">
    <h2 class="Heading">Recent Orders</h2>
    <div class="Box Box-scrollable">
      <table class="Table Table-sm Table-hover Table-center Table__caption-reversed">
        {{!-- <caption>List</caption> --}}
        <thead>
          <tr>
            {{!-- <th>#</th> --}}
            <th>Number</th>
            <th>Amount ($)</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Checked out at</th>
            {{!-- <th></th> --}}
          </tr>
        </thead>
        <tbody>
          {{#each data.orders}}
            <tr class="Item">
              <td class="">{{this.code}}</td>
              <td class="">{{this.amount}}</td>
              <td class="">{{this.payment}}</td>
              <td class="">
                <span class="Text-status Text-{{stylingStatus this.status}}">
                  {{this.status}}
                </span>
              </td>
              <td class="Item__time">
                {{dateFormat this.createdAt 'datetime'}}
              </td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <th colspan="8">
          </th>
        </tfoot>
        <div id="desc-popover" popover>
        </div>
      </table>
      <a href="#" class="Btn Btn-viewmore">Viewmore</a>
    </div>
  </div>
</section>